* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background 1s ease-in-out;
    background-size: cover;
    background-position: center;
}


form {
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

h1{
    color:#ea00ff;
    position: relative;
    margin-bottom: 820px;
    
   }

h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

select, input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input {
    background-color: #d61c1c;
    color: white;
    cursor: pointer;
}

input:hover {
    background-color: #b01515;
}