*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #18171D;
}

img{
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    display: flex;
    align-items: center;
    min-height: 80vh;
    background: linear-gradient(
        90deg,
        rgb(172, 12, 129) 0%,
        rgb(48, 95, 131) 50%,
        rgba(19,41,65,1) 100%
    );
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 25px;
    color: #BA8250;
    text-transform: uppercase;
    font-weight: 800;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 17px;
    padding: 20px;
    color: #DFDDE0;
    text-transform: uppercase;
    display: block;
}

.menu .navbar ul li a:hover{
    color: #BA8250;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
}

.submenu {
    position: relative;
}

.submenu #carrito{
    display: none;
}

.submenu:hover #carrito{
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4e4b5076;
    padding: 20px;
    min-width: 400px;
}

.submenu #vaciar-carrito{
    display: inline-block;
    padding: 13px 25px;
    background-color: #BA8250;
    color: #DFDDE0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;    font-size: 20px;
    margin-top: 55px;
}

table{
    width: 100%;
}

th, td{
    color: #DFDDE0;
}

.borrar{
    background-color: #DA8250;
    border-radius: 50%;
    padding: 5px 10px;
    color: #DFDDE0;
    font-weight: 800;
    cursor: pointer;
}

.header-txt{
    text-align: center;
}

.header-txt h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    color: #838586;
    padding-left: 30px;
}

.header-txt p{
    font-size: 16px;
    color: #DFDDE0;
    text-transform: capitalize;
    margin-bottom: 35px;
    padding-left: 50px;

}

.header-txt img{
    width: 700px;
    display: block;
}

.btn-1, .btn-2{
    display: inline-block;
    padding: 13px 25px;
    background-color: #BA8250;
    color: #DFDDE0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;    font-size: 20px;
    margin-top: 55px;
}

.btn-2{
    margin: 0;
    padding: 8px 35px;
}

.footer{
    margin-top: 100%; /* Empuja el footer hacia abajo */
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(
        90deg,
        rgb(0, 0, 0) 0%,
        rgb(121, 39, 141) 50%,
        rgba(19,41,65,1) 100%
    );
   
}

.link h3{
    font-size: 22px;
    color: #BA8250;
}

.link a{
    font-size: 16px;
    color: #c0c0c1;
    display: block;
    margin-bottom: 15px;
}

.link a:hover{
    color: #BA8250;
}

@media(max-width:991px){
    .menu{
        padding: 20px;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #18171D;
        display: none;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .logo{
        display: none;
    }

    .submenu:hover #carrito{
        min-width: 100%;
    }

    .header{
        min-height: 0vh;
        padding: 100px 30px;
    }

    .header-txt{
        text-align: center;
    }

    .header-txt h1{
        font-size: 90px;
    }

    .footer{
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }

}