@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Poppins', sans-serif;

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url('../img/fondoMoto.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    display: flex;
    align-items: center;
    min-height: 80vh;
    padding: 50px 0 0 0;
    background-color: rgba(255, 255, 255, 0.808);}

img{
    max-width: 100%;
}


.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 30px;
    color: #E22717;
    text-transform: uppercase;
    font-weight: 800;
}

#menu {
    display: none;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 17px;
    padding: 20px;
    color: #040100;
    text-transform: uppercase;
    display: block;
}

.navbar ul {
    list-style: none;
    gap: 20px;
}

.menu .navbar ul li a:hover{
    color: #E22717;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
}

.header-content{
    display: flex;
    align-items: center;
}

.header-txt{
    flex-basis: 50%;
}

.header-txt h1{
    font-size: 80px;
    line-height: 1;
    color: #232323;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 25px;
}

p{
    color: #232323;
    font-size: 17px;
    margin-bottom: 25px;
}

.btn-1{
    display: inline-block;
    padding: 13px 35px;
    color: #DFDDE0;
    text-transform: uppercase;
    font-size: 15px;
    background-color: #E22717;
    border-radius: 25px;
}

.btn-1:hover{
    background-color:darksalmon;
}

.header-img{
    flex-basis: 50%;
}

.header-img img{
    width: 850px;
}

.information{
    padding: 50px 0;
    background-color: rgba(255, 255, 255, 0.808);
}

.information-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.information-box{
    flex-basis: 50%;
    display: flex;
}

.card-1{
    flex-basis: calc(50% - 100px);
    background-color: rgba(255, 255, 255, 0.345);
    border-radius: 25px;
    margin-right: 50px;
    text-align: center;
    padding: 20px;
}

.card-1 img{
    width: 150px;
    margin-top: -70px;
}

.card-1 h3{
    font-size: 20px;
    margin: 0 0 10px 0;
    color: #040100;
}

.card-1 p{
    margin-bottom: 10px;
}

.card-1 .p-2{
    margin-bottom: 70px;
}

.card-1 span{
    color: #E22717;
    font-weight: 700;
}

.information-txt{
    flex-basis: 50%;
}

h2{
    color: #040100;
    font-size: 40px;
    line-height: 1;
    margin-bottom: 30px;
}

.general{
    padding: 50px 0;
    background-color: rgba(255, 255, 255, 0.808);
}

.general-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.general-txt{
    flex-basis: 50%;
    margin: 0 50px;
}

.general-img{
    text-align: center;
    flex-basis: 50%;
}

.app{
    padding: 50px 0;
    background-color: rgba(255, 255, 255, 0.808);
}

.app-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-img{
    flex-basis: 50%;
    text-align: center;
}

.app-img img{
    width: 300px;
}

.app-txt{
    flex-basis: 50%;
}

.app-icons img{
    width: 150px;
}

.contact{
    padding: 50px 0;
    background-color: rgba(255, 255, 255, 0.808);
}

.contact-content{
    text-align: center;
    padding: 0 100px;
}

.submenu {
    position: relative;
}

.submenu #img-carrito{
    width: 50px;
}

.submenu #carrito{
    display: none;
}

.submenu:hover #carrito{
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4e4b5076;
    padding: 20px;
    min-width: 400px;
}

.submenu #vaciar-carrito{
    display: inline-block;
    padding: 13px 25px;
    background-color: #BA8250;
    color: #DFDDE0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;    font-size: 20px;
    margin-top: 55px;
}

table{
    width: 100%;
}

th, td{
    color: #DFDDE0;
}

.footer{
    border-top: 0px solid none;
    padding: 50px 0 ;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding-left: 400px;
    padding-right: 400px;
    background-color: rgba(200, 200, 200, 0.108);
}

.link h3{
    font-size: 22px;
    color: #BA8250;
}

.link a{
    font-size: 16px;
    color: #c0c0c1;
    display: block;
    margin-bottom: 15px;
}

.link a:hover{
    color: #BA8250;
}

@media(max-width:991px){
    .menu{
        padding: 20px;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #c0c0c1;
        display: none;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .logo{
        display: none;
    }

    .submenu:hover #carrito{
        min-width: 100%;
    }

    .header{
        min-height: 0vh;
        padding: 100px 30px;
    }

    .header-content{
        padding: 20px;
        flex-direction: column;
        text-align: center;
    }

    .header-txt{
        margin-bottom: 35px;
    }

    .header-txt h1{
        font-size: 80px;
    }

    .header-img{
        text-align: center;
    }

    .header-img img{
        width: 100%;
    }

    .information{
        padding: 20px;
    }

    .information-content{
        flex-direction: column;
        text-align: center;
    }

    .information-box{
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .card-1{
        flex-basis: calc(50% - 20px);
        margin: 0 10px;
        padding: 20px;
    }

    .general{
        padding: 0 20px 0 20px;
    }

    .general-content{
        flex-direction: column;
        text-align: center;
    }

    .header-txt{
        margin: 0 0 20px 0;
    }

    .general-img{
        order: 2;
    }

    .app{
        padding: 20px;
    }

    .app-content{
        flex-direction: column;
        text-align: center;
    }

    .app-txt{
        margin-bottom: 25px;
    }

    .app-img{
        order: 2;
    }

    .app-img img{
        width: 50%;
    }

    .contact{
        padding: 20px;
    }

    .contact-content{
        padding: 0;
    }

    .footer{
        padding: 20px;
    }

    .footer .link{
        flex-direction: column;
        text-align: center;
    }

    
}